@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  min-width: 500px;
  color: white;
}
h4 {
  color: #90b8f3;
}


.grid-container {
    justify-content: space-between;
    margin: auto;
}

.profile-main-container {
  padding: 70px 40px;
  height: 400px;
  background-color: rgba(255, 255, 255, .1);
  display: flex;
  align-items: center;
}
.profile-main-container img {
    width: 320px;
    margin-right: 30px;
}
.profile-main-container {
    display: flex;
}
.profile-container{
  display: grid;
  grid-template-columns: 350px 1fr 600px;

}
.pic-container{
  grid: 1;
}
.me-container{
  grid: 2;
}
.pie-container{
  grid: 3;
  align-content: center;
}

.profile-main-proyects,  .profile-main-hobbies{
    padding: 0 50px 40px;
}
.profile-main-proyects, .profile-main-hobbies h3 {
    /*border-bottom: 1px solid #cdd2da;*/
    padding-bottom: 35px;
    text-align: center;
}

.proyects-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.proyect-container {
    padding: 0 20px;
    text-align: justify;
}
.identation{
  padding:20px;
}
.img-hobbie{
  height: 100%;
  width: 100%;
}
.hobbies-main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.hobbie-container{
  padding: 0 20px;
  text-align: justify;

}
