<!DOCTYPE html>
<html lang="en">

{% block head %}
{% include "head.html" %}
{% endblock %}

<body>

    {% block header %}
        {% include "header.html" %}
    {% endblock %}

    <main class="profile-grid-container">
        <section class="profile-main-container">
            <div class="grid-container profile-container">
                <div class="pic-container">
                    <img src="{{ url_for('static', filename='img/compress/yo.png') }}" alt="">
                </div>
                <div class="me-container">
                    <h2>Hi!, I'm Erick Saavedra! {</h2>
                    <p class="identation"> An Electrical and Automation Engineer who loves to develop software ,
                        technology geek, musician, drawer and athlete.
                    <h2>}<h2>
                            </p>
                </div>
                <div class="pie-container">
                    {% block pie %}
                    {% include "pie.html" %}
                    {% endblock %}
                </div>

            </div>
        </section>
        <section class="profile-main-proyects">
            <div class="grid-container">

                <h3>Projects</h3>
                <div class="proyects-main-container">

                    {% for title, description in projects.items() %}
                    <article class="proyect-container">

                        <h4>{{ title }}</h4>
                        <p>{{ description }}</p>

                    </article>
                    {%endfor%}

                </div>
            </div>
        </section>
        <section class="profile-main-hobbies">
            <div class="grid-container">
                <h3>Hobbies</h3>

                <div class="hobbies-main-container">

                    <article class="hobbie-container">
                        <h4>Music</h4>
                        <p><iframe
                                src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FZackseneger%2Fvideos%2F2881229561919246%2F&show_text=false&width=261&t=0"
                                width="261" height="476" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowfullscreen="true"
                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                                allowFullScreen="true"></iframe></p>
                    </article>

                    {% for hobbi in hobbies %}
                        <article class="hobbie-container">
                            <h4>{{ hobbi.hobbi.title }}</h4>
                            <p>
                                <a href={{ hobbi.hobbi.img }}>
                                    <img class="img-hobbie" src={{ hobbi.hobbi.compress }} alt="">
                                </a>
                            </p>
                        </article>
                    {% endfor %}


                </div>
            </div>
        </section>
    </main>
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>