<!DOCTYPE html>
<html lang="en">
{% block head %}
{% include "head.html" %}
{% endblock %}

<body>
  {% block header %}
  {% include "header.html" %}
  {% endblock %}

  <main class="cert-main">
    <section class="cert-container">
      <div class="cert-grid-container">
        <h3></h3>

        {% for c in cert %}
          <article class="single-cert-container">
            <a href={{ c.cert.img }}>
              <img class="img-hover" src={{ c.cert.compress }} alt={{ c.cert.alt }}>
            </a>
            <p>
              <a class="cert-link" href={{ c.cert.link }}>{{ c.cert.title }}</a>
            </p>
          </article>
        {% endfor %}

      </div>
    </section>
  </main>
  {% block footer %}
  {% include "footer.html" %}
  {% endblock %}
</body>

</html>