<!DOCTYPE html>
<html lang="en">
{% block head %}
  {% include "head.html" %}
{% endblock %}

<body>
  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  <main class="blogs-main">
    <section class="blogs-posts-container">
      <div class="grid-container">
        <h3></h3>

        {% for c in cert %}
          <article class="post-container">
            <a href={{ c.cert.img }}>
              <img class="img-hover" src={{ c.cert.compress }} alt={{ c.cert.alt }}>
            </a>
            <p>
              <a class="post-container-link" href={{ c.cert.link }}>{{ c.cert.title }}</a>
            </p>
          </article>
        {% endfor %}

      </div>
    </section>
  </main>
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
</body>
</html>