<!DOCTYPE html>
<html lang="en">
  
  {% block head %}
   {% include "head.html" %}
  {% endblock %}

<body>

  {% block header %}
    {% include "header.html" %}
  {% endblock %}

    <main class="home-main">
        <section>
            <h1 class="home-main-text">Hi!,I'm Erick Saavedra, <p> a software developer working in testing product area solving issues through Python and LabVIEW, willing to improve my programming skills in machine learning and data science</h1>
        </section>
    </main>
</body>
</html>
