<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block head %}
{% include "head.html" %}
{% endblock %}

<body>

  {% block header %}
  {% include "header.html" %}
  {% endblock %}

  <main class="main-timeline">
    <section class="time-main-container">
      <div id="chartdiv"></div>
    </section>
  </main>

  {% block footer %}
  {% include "footer.html" %}
  {% endblock %}
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/timeline.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/bullets.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script type="text/javascript" src= "{{ url_for('static', filename='scripts/chart.js')}}"></script>
</body>
</html>